/*.thirteen {
    margin-left: 300px;
    margin-top: 50px;
    width: 800px;
    height: 200px;
}
.thirteena {
    margin-left: 300px;
    margin-top: 100px;
    width: 800px;
    height: 200px;
}
.thirteenb {
    margin-left: 300px;
    margin-top: 150px;
    width: 800px;
    height: 200px;
}
.thirteenc {
    margin-left: 300px;
    margin-top: 200px;
    width: 800px;
    height: 200px;
}
.thirteend {
    margin-left: 300px;
    margin-top:250px;
    width: 800px;
    height: 200px;
}
.thirteene {
    margin-left: 300px;
    margin-top: 300px;
    width: 800px;
    height: 200px;
}*/

body {
    background: black;
}
.twenty {
    margin-top: 350px;
    margin-left: 750px;
}

.ten {
    height: 300px;
    width: 600px;

    margin-left: 275px;
}

.twentytwo {
    height: 20px;
    width: 60px;
}

.twentythree{
     height: 800px;
    width: 1420px;
    margin-top: 20px;

}
.nine {
    margin-left: 800px;
}



























